.logo{background-color: black;}
.leftmenu{background-color: lightgray;}
.leftmenu:hover{background-color: gray;}
.b:hover{background-color: yellow;}
.new{background-color: lightgray; color:white;}
.firstm:hover{background-color: black; color: black;}
.advrt{}
.footer{background-color: black; height: 150px;}
.copy{text-align:center; margin-top: 30px;}
.adres{background-color: blue;}
.footer{background-color: black;}
.test{background-color: blue;}
.instagram{margin-left: -110px;}
.twitter{margin-left: -115px; margin-top:2px;}
.format{margin-left: 60px;}
.news{margin-bottom: 100px;}
.mainformat{margin-bottom: 100px; margin-left: 20%;}
.newtitle{margin-bottom: 40px; margin-left: 20%;}
.newtext{font-size: 20px; margin-left: 5%;}
.reginfo{margin-left: 65%; }
